# venv
.venv/
venv/

# pycache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

output/**/*.json
!output/**/*_[0-9].json

# Data
data/

# Output
output/

# Etc
.vscode/
.DS_Store
.env
.APIkeys.json
src/diffusion_hash_inverse.egg-info/*
.python-version
